.form-create-designer {
  padding: 0;
  margin: 0;

  /// 主区域相关的样式
  &-main {
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 8px #f8f8f8;
    width: calc(100vw - 700px);
    height: calc(100vh - 60px);

    &__draggable {
      height: 100%;

      &.form-create-designer-main__draggable__nested {
        min-height: 60px;
      }


      &__list {
        height: 100%;
        &.form-create-designer-main__draggable__nested__list {
          min-height: 60px;
        }
      }
    }
  }

  /// 组件的样式
  &-widget {
    &__list {
      padding: 8px 0;
      width: 100%;
      height: 100%;
      ul {
        overflow: hidden;
        padding: 0 10px 10px;
        margin: 0;
      }

    }

    &__label {
      font-size: 12px;
      display: block;
      width: calc(50% - 20px);
      line-height: 26px;
      left: 0;
      float: left;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 10px;
      color: #333;
      text-align: center;
      border: 1px solid #f4f6fc;
      & > a {
        display: block;
        cursor: move;
        background: #f4f6fc;
        border: 1px solid #f4f6fc;
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      &:hover {
        color: #409eff;
        border: 1px dashed #409eff;
      }
    }

    &__row {
      min-height: 60px;
    }

    &__col {
      min-height: 60px;
      min-width: 50px;
      border: 1px dashed #ccc;
      background: #fff;
    }

    &__item {
      position: relative;
      background: linear-gradient(to right, rgba(129, 237, 192, 0.2), rgba(0, 147, 243, 0.2));
      overflow: hidden;
      &::before {
        content: "";
        height: 7px;
        width: 100%;
        background: transparent;
        position: absolute;
        transition: all .3s;
        top: 0;
        right: -100%;
      }

      &__tools {
        position: absolute;
        right: 0;
        top: 7px;
        z-index: 2;
        padding: 2px;
        border-bottom-left-radius: 8px;
        background: rgba(0, 147, 243, 0.2);
        opacity: 0;
        pointer-events: none;
        transition: all .1s;
        i {
          font-size: 18px;
          padding: 3px 10px;
          color: #fff;
        }
      }

      &__active {
        background: linear-gradient(to right, rgba(129, 237, 192, 0.5), rgba(0, 147, 243, 0.5));
        &::before{
          background:rgba(0, 147, 243, 0.5);
          right: 0;
        }

        .form-create-designer-widget__item__tools {
          opacity: 1;
          background:rgba(0, 147, 243, 0.5);
        }
      }

      &__box {
        padding: 8px;
        position: relative;
      }

      &__key {
        position: absolute;
        right: 8px;
        bottom: 3px;
        color: #f8f8f8;
        font-size: 14px;
      }
    }
  }



  .fc {
    &-drag {
      &-grid {
        &-row {
          .fc-drag-grid-box,
          .fc-drag-list {
            min-height: 60px;
            border: 1px dashed #d9d9d9;
            background: white;
          }
        }
      }
    }
  }
}

